

.title{
font-family: dsDFont;

text-align: center;
}
.search{
    text-align: center;
}
.searchBar{
    width: 80%;
}
.buttons{
    padding-top:5%;
    width: 100%;

}

.buttons div{
    padding:1%;
    border: solid 1px black;
    display: block;
}